<div class="cards">
  {{#each model as |project|}}
  <div class="card">
    <div class="card-image">
      <img src="https://raw.githubusercontent.com/thoughtbot/refills/master/source/images/mountains.png" alt="">
    </div>
    <div class="card-header">
      {{project.name}}
    </div>
    <div class="card-copy">
      <p>{{project.description}}</p>
    </div>
  </div>
  {{/each}}
</div>
{{outlet}}

<!-- #TODO hover tile animation from http://refills.bourbon.io/components/ -->
